/* ********** Base Styles ********** */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

}

#h1 {
	text-align: center;
	color: Black;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 175%;
	font-family: anton, sans-serif;
}

.para1, .para2, .para3 {
	background-color: gray;
	border: 2px Black solid;
	width: 29%;
	margin: 2%;
	height: auto;
	position: relative;
	padding-right: 5%;
	padding-left: 5%;
	font-family: trirong, sans-serif;
	font-size: 100%;
	
}

h2, h3, h4 {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid Black;
	text-align: center;
	padding: 3%;
	width: 30%;
	font-weight: bold;
	font-family: oswald, sans-serif;
	font-size: 125%;
}

h2 {
	background-color: red;
}

h3 {
	background-color: orange;
}

h4 {
	background-color: pink;
}

/* ********** Responsive row define ********** */

.row {
	width: 100%;
}


/* ********** Large Devices only ********** */

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
  .col-lg-11, .col-lg-12 {
	background-color: gray;
	border: 2px Black solid;
	margin: 2%;
	float: left;
	padding: 3%;
	padding-top: 4%;
  }

.col-lg-1 {	
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 29%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 96%;
  }

   h2, h3, h4 {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid Black;
	text-align: center;
	padding: 0px;
	width: 30%;
	
   }
  
}


/* ********** Medium Devices only ********** */

@media (min-width: 768px) and (max-width: 991px) {
 .col-md-1, .col-md-6, .col-md-12 {
	background-color: white;
	border: 2px Black solid;
  	margin: 2%;
  	float: left;
  	padding: 3%;
	padding-top: 7%;
  }

 .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 96%;
  }

  h2, h3, h4 {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid Black;
	text-align: center;
	padding: 3%;
	width: 30%;
	font-size: 20px;
	font-weight: bold;
   }
   h4 {
   	width: 30%;
   	height: 10%;
   	line-height: 10%;
   }

    }  

/* ********** Small Devices only ********** */


@media (max-width: 767px) {
  .col-xs-12 {
	background-color: #FFE0C0;
	border: 2px Black solid;
  	margin: 2%;
	padding: 3%;
	padding-top: 11%;
  }

  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 96%;
  }

h2, h3, h4 {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid Black;
	text-align: center;
	width: 33%;
	height: 13%
	line-height: 13%;
	font-size: 120%;
	font-weight: bold;
	padding: 0px;
   }

   }